.page-header
  .pull-right
    = link_to [:equipment, :index], class: 'btn btn-default' do
      %i.fa.fa-wrench
      = 'Equipment'
    = link_to 'Add Category', [:new, :equipment_category], class: 'btn btn-success'

  %h1
    %i.fa.fa-folder-open
    = t '.title'

= collection_placeholder categories, message: 'No equipment categories yet' do
  = render 'table'
