= simple_form_for(trip) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-3
        = f.input :code, maxlength: true
      .col-sm-3
        = f.input :color, as: :color_picker
      .col-sm-6
        = f.input :name

    .row
      .col-sm-3
        = f.input :duration, min_max: true
      .col-sm-3
        = f.input :price, min_max: true

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t(:back), :back, class: 'btn btn-default'
