%h4.page-header
  = icon :home
  Home

.row
  .col-sm-4
    = form.input :address1
  .col-sm-4
    = form.input :address2
  .col-sm-4
    = form.input :city
.row
  .col-sm-2
    = form.input :state
  .col-sm-2
    = form.input :post_code
  .col-sm-4
    = form.input :country, as: :string

%h4.page-header
  = icon 'hospital-o'
  Hotel

.row
  .col-sm-4
    = form.input :hotel_name
  .col-sm-4
    = form.input :room_number
