.form-inputs
  .row
    .col-sm-8
      = form.input :certification_name, as: :certification
    .col-sm-4
      = form.input :certification_number
  .row
    .col-sm-4
      = form.input :certification_date, as: :date
    .col-sm-4
      = form.input :last_dive_on, as: :date
    .col-sm-4
      = form.input :number_of_dives, min_max: true
