.page-header
  .pull-right
    .btn-group
      = link_to url_for(year: year-1), class: 'btn btn-default' do
        = icon 'angle-left'
        = year - 1
      = link_to url_for(year: year+1), class: 'btn btn-default' do
        = year + 1
        = icon 'angle-right'

  %h1
    = icon 'bar-chart'
    Statistics
    %small.text-muted= year

.row
  .col-sm-3
    .well.text-center
      .text-muted
        = icon :user, 'Customers'
      %h1= customer_statistics.count

  .col-sm-3
    .well.text-center
      .text-muted
        = icon :calendar, 'Bookings'
      %h1= rental_statistics.count

  .col-sm-3
    .well.text-center
      .text-muted
        = icon :calendar, 'Events'
      %h1= rental_statistics.count

  .col-sm-3
    .well.text-center
      .text-muted
        = icon :cog, 'Rentals'
      %h1= rental_statistics.count

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        = icon :calendar
        Events
      .panel-body
        = column_chart events_count_by_month, height: '200px'
  .col-sm-6
    .panel.panel-default
      .panel-heading
        = icon :gear
        Rentals
      .panel-body
        = column_chart rentals_count_by_month, height: '200px'
.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        = icon :calendar
        Bookings
      .panel-body
        = column_chart bookings_count_by_month, height: '200px'
  .col-sm-6
    .panel.panel-default
      .panel-heading
        = icon :user
        Customers
      .panel-body
        = column_chart customers_count_by_month, height: '200px'
