.page-header
  .pull-right
    = link_to :equipment_categories, class: 'btn btn-default' do
      %i.fa.fa-folder-open
      = 'Categories'
    = link_to 'Add Equipment', [:new, :equipment], class: 'btn btn-success'

  %h1
    %i.fa.fa-wrench
    = t '.title'

= collection_placeholder equipments, message: 'No equipment yet' do
  = render 'table'
