.page-header
  .pull-right
    = link_to :equipment_categories, class: 'btn btn-default' do
      %i.fa.fa-folder-open
      = 'Categories'
    = link_to 'Add Equipment', [:new, :equipment], class: 'btn btn-success'

  %h1
    %i.fa.fa-wrench
    = t '.title'

%ul.nav.nav-tabs.nav-equipment
  - categories.each_with_index do |category, index|
    %li{:class => index.zero? ? 'active' : ''}
      = link_to '#nav-category-%d' % category.id, data: { toggle: 'tab' } do
        %i.fa.fa-folder-open
        = category.name

.tab-content
  - categories.each_with_index do |category, index|
    .tab-pane.fade.in{:id => 'nav-category-%d' % category.id, :class => index.zero? ? 'active' : ''}
      = collection_placeholder category.equipment, message: 'No equipment yet' do
        = render 'table', equipments: category.equipment
