.panel.panel-default
  .panel-heading.btn-faded-zone
    .pull-right
      - unless date.past?
        = link_to new_event_path(event: { start_time: date }) do
          %i.fa.fa-plus-square
    %h4.panel-title
      = l date, format: :short
      %small
        - case date
        - when Date.yesterday
          = t :yesterday
        - when Date.today
          = t :today
        - when Date.tomorrow
          = t :tomorrow
        - else
          = l date, format: '%A'
  - events_for_date = events.for_date(date)
  - if events_for_date.to_a.empty?
    .panel-body
      %p.text-muted.text-center
        = t('.no_events')
      - unless date.past?
        = link_to new_event_path(event: { start_time: date }), class: 'btn btn-success btn-block' do
          %i.fa.fa-plus-circle
          = t('.create_event')
  - else
    = render 'table', events: events_for_date
