.page-header
  .pull-right
    - date = event.start_time || Date.today
    = link_to events_path(date: date.to_date), class: 'btn btn-default' do
      = icon :list
      Events on
      = l(date.to_date, format: :short)

  %h2
    %i.fa.fa-calendar
    = event.name
    %small
      = l event.start_time, format: :short if event.start_time?

= render 'events/navbar', current_nav: defined?(current_nav) ? current_nav : nil
