= page_header t('.title'), icon: 'calendar' do
  .btn-group
    = link_to :events, class: 'btn btn-default ' + (mode == :list ? 'active' : '') do
      = icon :list
    = link_to [:events, :calendar], class: 'btn btn-default ' + (mode == :calendar ? 'active' : '') do
      = icon :calendar

  = link_to [:new, :event], class: 'btn btn-success' do
    = icon 'plus-circle'
    = t '.create_event'
