= simple_form_for(event, html: { id: 'event-form' }) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-7
        = f.association :trip, as: :trip
      .col-sm-5
        = f.input :name
    .row
      .col-sm-3
        = f.input :start_time
      .col-sm-2
        = f.input :duration, as: :numeric
      .col-sm-2
        = f.input :night_dive, as: :select, include_blank: false
      .col-sm-3
        = f.association :boat, as: :boat
      .col-sm-2
        = f.input :capacity, as: :numeric, placeholder: event.boat_capacity.to_s

    .row
      .col-sm-7
        = f.association :guide
      .col-sm-5
        = f.input :description

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t(:back), :back, class: 'btn btn-default'
