= simple_form_for(event, html: { id: 'event-form' }) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-4
        = f.association :trip, as: :trip
      .col-sm-2
        = f.input :duration, as: :numeric, placeholder: event.trip_duration.to_s
      .col-sm-6
        = f.input :name

    .row
      .col-sm-4
        = f.input :start_time
      .col-sm-2
        = f.input :night_dive, as: :select, include_blank: false
      .col-sm-4
        = f.association :boat, as: :boat
      .col-sm-2
        = f.input :capacity, as: :numeric, placeholder: event.boat_capacity.to_s

    .row
      .col-sm-6
        = f.association :guide
      .col-sm-6
        = f.input :description, input_html: { rows: 5 }

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t(:back), :back, class: 'btn btn-default'

    - if event.persisted?
      = link_to event, method: :delete, class: 'btn btn-danger pull-right' do
        = icon 'trash'
        Delete
