%ul#event-nav.nav.nav-tabs
  %li{:class => (current_nav == :edit ? 'active' : '')}
    = link_to [:edit, event] do
      = icon :pencil, 'Edit'

  %li{:class => (current_nav == :bookings ? 'active' : '')}
    = link_to [event, :bookings] do
      = icon 'check-square-o', 'Bookings'
      .label.label-success= event.bookings.count

  %li{:class => (current_nav == :logbook ? 'active' : '')}
    = link_to [event, :logbook] do
      = icon :book, 'Logbook'
