.panel.panel-default
  .panel-heading
    .pull-right
      = link_to '#event-panel-%d' % event.id, data: { parent: '#accordeon', toggle: 'collapse' }, class: 'text-muted' do
        %i.fa.fa-caret-down

    %span.label.label-success BL
    = event.name
    %br
    %small.text-muted
      %i.fa.fa-map-marker
      BL
      = ' | '
      %i.fa.fa-life-ring
      B1
      = ' | '
      %i.fa.fa-mail-reply
      = l event.end_time, format: '%H:%M'
      = ' | '
      %i.fa.fa-user
      - capacity = 5 + rand(5)
      - booked = capacity - rand(5)
      = '%d/%d' % [booked, capacity]
  .panel-collapse.collapse{id: 'event-panel-%d' % event.id}
    .panel-body
      = debug event
