.panel.panel.panel-event[event, :panel]{class: event.current? ? 'panel-info' : 'panel-default'}
  .panel-heading
    .pull-right
      - if event.fully_booked?
        .label.label-danger<
          FULL
    = link_to ('#event-panel-%d' % event.id), data: { toggle: 'collapse', parent: collapse_parent } do
      - if event.trip_code.present?
        .label.label-info{ :style => 'background-color: %s;' % event.color }<
          = event.trip_code
      = event.name
      %span.caret
    %br
    %small.text-muted
      %i.fa.fa-anchor
      - if event.boat_dive?
        = event.boat_code
      - else
        &mdash;

      = ' | '
      %i.fa.fa-mail-reply
      = l event.end_time, format: '%H:%M'

      = ' | '
      %i.fa.fa-user
      - if event.limited_capacity?
        = '%d/%d' % [event.number_of_bookings, event.capacity]
      - else
        = event.number_of_bookings

      = ' | '
      - if event.guided_dive?
        = icon :star
        = event.guide.name
      - else
        = icon 'star-o'
        non-guided

      - if event.night_dive?
        = ' | '
        = icon 'moon-o', 'night dive'

      - if event.logbook.present?
        = ' | '
        = icon :book, 'logged'

      - if event.price.present?
        = ' | '
        = icon :money

        = '%.2f' % event.price
        - trip_price = event.trip_price
        - if trip_price.present? && trip_price != event.price
          = '(%+.2f)' % (event.price - trip_price)

  .panel-collapse.collapse{:id => 'event-panel-%d' % event.id}
    .panel-body

      = collection_placeholder event.bookings, message: 'No bookings for this event' do
        %table.table.table-condensed.table-bordered
          %tbody
            - event.bookings.each do |booking|
              - customer = booking.customer
              %tr
                %td
                  = link_to customer_name_with_icon(customer), [customer, :bookings]
                  %small.text-muted= customer.certification_name

    .panel-footer
      = link_to [:edit, event], class: 'btn btn-default btn-sm' do
        = icon :pencil
        Edit
      = ' '
      = link_to [event, :bookings], class: 'btn btn-default btn-sm' do
        = icon 'check-square-o'
        Bookings
      = ' '
      = link_to [event, :logbook], class: 'btn btn-default btn-sm' do
        = icon :book
        Logbook

      = link_to event, class: 'btn btn-danger btn-sm pull-right', method: :delete, confirm: 'Are you sure?' do
        = icon 'trash'
        Delete

