.panel.panel.panel-event[event, :panel]{class: event.current? ? 'panel-info' : 'panel-default'}
  .panel-heading
    .pull-right
      - if event.fully_booked?
        .label.label-danger<
          FULL
      - if event.trip_code.present?
        .label.label-info{ :style => 'background-color: %s;' % event.color }<
          = event.trip_code
    = link_to ('#event-panel-%d' % event.id), data: { toggle: 'collapse', parent: collapse_parent } do
      = event.name
      %span.caret
    %br
    %small.text-muted
      = event_info_line event

  .panel-collapse.collapse{:id => 'event-panel-%d' % event.id}
    .panel-body

      = collection_placeholder event.bookings, message: 'No bookings for this event' do
        %table.table.table-condensed.table-bordered
          %tbody
            - event.bookings.each do |booking|
              - customer = booking.customer
              %tr
                %td
                  = link_to customer_name_with_icon(customer), [customer, :bookings]
                  %small.text-muted= customer.certification_name

    .panel-footer
      = link_to [:edit, event], class: 'btn btn-default btn-sm' do
        = icon :pencil
        Edit
      = ' '
      = link_to [event, :bookings], class: 'btn btn-default btn-sm' do
        = icon 'check-square-o'
        Bookings
      = ' '
      = link_to [event, :logbook], class: 'btn btn-default btn-sm' do
        = icon :book
        Logbook

      = link_to event, class: 'btn btn-danger btn-sm pull-right', method: :delete, confirm: 'Are you sure?' do
        = icon 'trash'
        Delete

