#event-quick-form

  %h4
    %i.fa.fa-plus-circle
    = t '.add_event'

  = simple_form_for(event, remote: true, format: :json) do |f|
    = f.error_notification

    .form-inputs
      .row
        .col-xs-12
          = f.input :name
        .col-xs-12
          = f.input :start_time
        .col-xs-12
          = f.input :duration, as: :numeric
      .row
        .col-sm-12
          = f.input :description

    %p.form-actions
      = f.button :submit
