%table.table.table-striped.events-table
  - events.group_by(&:start_time).each do |start_time, events_by_time|
    %thead
      %tr.table-divider
        %th.text-muted{colspan: 2}
          %i.fa.fa-clock-o
          = l start_time, format: '%H:%M'
    %tbody
      - events_by_time.each do |event|
        %tr
          %td.event-code
            = %w(BL SW BN PW SH).sample

          %td.event-details
            .pull-right

              - if rand(10) == 0
                %span.label.label-danger<
                  %i.fa.fa-warning
                  Full

              %span.label.label-info<
                = %w(BL SW BN PW SH).sample

            - if event.current?
              %i.fa.fa-compass.fa-spin.text-muted
            = event.name

            %br
            %small.text-muted
              %i.fa.fa-map-marker
              BL
              = ' | '
              %i.fa.fa-life-ring
              B1
              = ' | '
              %i.fa.fa-mail-reply
              = l event.end_time, format: '%H:%M'
              = ' | '
              %i.fa.fa-user
              - capacity = 5 + rand(5)
              - booked = capacity - rand(5)
              = '%d/%d' % [booked, capacity]
