#customer-header

  .page-header
    .pull-right
      .btn-group
        = link_to [:edit, customer], class: 'btn btn-default' do
          %i.fa.fa-pencil
          Edit

        = link_to customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do
          %i.fa.fa-ban
          Delete

    %h2= customer.full_name


  .row
    .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-2
      %p= image_tag customer.portrait_url, class: 'img-thumbnail img-responsive'

    .col-xs-12.col-sm-8.col-md-5
      %table.table
        %tbody
          %tr
            %th Date of birth
            %td
              - if customer.date_of_birth.present?
                =l customer.date_of_birth
                %span.text-muted= '(%d)' % customer.age
              - else
                %span.text-muted -
          %tr
            %th Gender
            %td
              - if customer.gender.present?
                %i.fa{class: 'fa-%s' % customer.gender }
                = customer.gender
              - else
                %span.text-muted -
          %tr
            %th Hotel
            %td Mama's Chalet
          %tr
            %th Room #
            %td 104

    .col-xs-12.col-sm-8.col-md-5
      %table.table
        %tbody
          %tr
            %th E-Mail
            %td= link_to customer.email, 'mailto:%s' % customer.email
          %tr
            %th Phone
            %td= customer.phone_number
          %tr
            %th Address
            %td
              = customer.address1
              %br
              = '%s %s' % [customer.post_code, customer.city]
              %br
              = customer.country
= render 'navbar'
