.customers-results
  - placeholder_message = capture do
    = icon :warning
    No customers found for
    %strong= search_query

  = collection_placeholder customers, message: placeholder_message do
    %h5.page-header.text-muted
      = icon 'search'
      = page_entries_info customers
    = render 'table', customers: customers
    = render 'common/pager', collection: customers
