.customers-table
  - if customers.any?
    %table.table.table-striped
      - customers.each do |customer|
        %tr
          %td.thumbnail-column
            = link_to customer do
              = image_tag 'portrait.jpg', class: 'img-responsive'
          %td.maximize-column
            %strong= customer.full_name
            %br
            %span.text-muted=customer.date_of_birth
          %td
            = link_to 'Show', customer
            = link_to 'Edit', edit_customer_path(customer)
            = link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }
  - else
    .panel.panel-placeholder
      .panel-body
        No customer found

  .pull-right
    = paginate customers
