.page-header

  .pull-right
    = link_to new_customer_path, class: 'btn btn-success' do
      %i.fa.fa-plus-circle
      = t '.register_customer'

  %h2
    %i.fa.fa-users
    = t '.title'

#customers-search
  = render 'search'

#customers-results
  = render 'results'
