= page_header t('.title'), icon: 'users' do
  = link_to new_customer_path, class: 'btn btn-success' do
    = icon 'plus-circle', t('.register_customer')

- if search_query.present?
  = render 'results'
- else
  = render 'recent'
