= simple_form_for [customer, rental] do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        = f.association :equipment, collection: Equipment::Category.all, as: :grouped_select, group_method: :equipment
      .col-md-3
        = f.input :start_time
      .col-md-3
        = f.input :end_time

  %p.form-actions
    = f.button :submit
    = link_to t(:back), :back, class: 'btn btn-default'
