= simple_form_for([event, booking]) do |f|
  = f.error_notification

  .form-inputs
    - if booking.new_record?
      = f.association :customer, as: :customer, readonly: booking.persisted?
    - else
      .form-group
        %label.control-label Customer
        .form-control= booking.customer

    = f.input :price, placeholder: booking.event_price.to_s

  .form-actions
    = f.button :submit, class: 'btn btn-success'

