%p= render 'events/event_header', current_nav: :bookings

.row
  .col-sm-8
    = collection_placeholder bookings, message: 'No bookings for this event yet' do
      %table.table.table-striped
        - bookings.each do |booking|
          %tr
            %td
              %i.fa.fa-user
              = booking.customer
              %small.text-muted= booking.customer.certification_name

              .pull-right
                = link_to 'Edit', [:edit, event, booking]
                = link_to 'Destroy', [event, booking], :method => :delete, :data => { :confirm => 'Are you sure?' }

  .col-sm-4
    .well
      = render 'form'
