%p= render 'events/event_header', current_nav: :bookings

.row
  .col-sm-6
    %h4.page-header Existing bookings

    - if bookings.any?
      %table.table.table-striped
        - bookings.each do |booking|
          %tr
            %td
              = booking.customer
            %td
              = link_to 'Show', [event, booking]
              = link_to 'Edit', [:edit, event, booking]
              = link_to 'Destroy', [event, booking], :method => :delete, :data => { :confirm => 'Are you sure?' }
    - else
      .panel.panel-placeholder
        .panel-body
          No bookings for this event yet

  .col-sm-6
    %h4.page-header Add booking
    = render 'form'
