%p= render 'events/event_header', current_nav: :bookings

%table.table.table-striped
  %tr
    %th Customer
    %th

  - bookings.each do |booking|
    %tr
      %td
        = booking.customer
      %td
        = link_to 'Show', [event, booking]
        = link_to 'Edit', [:edit, event, booking]
        = link_to 'Destroy', [event, booking], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Booking', [:new, event, :booking], class: 'btn btn-default'
