= collection_placeholder bookings, message: 'This customer has no bookings yet' do
  %table.table.table-striped
    %tbody
      = render partial: 'row', collection: bookings, as: :booking
    %tfooter
      %tr
        %td
          %strong Total
        %td
          - total_dives = bookings.size
          %strong= total_dives
          = 'dive'.pluralize(total_dives)
        %td
          - night_dives = bookings.joins{event}.merge(Event.night_dives).size
          %strong= night_dives
          = 'night dive'.pluralize(night_dives)
        %td
          - boat_dives = bookings.joins{event}.merge(Event.boat_dives).size
          %strong= boat_dives
          = 'boat dive'.pluralize(boat_dives)
        %td
