= simple_form_for logbook, url: event_logbook_path(event) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-3
        = f.input :time_in, as: :time
      .col-sm-3
        = f.input :dive_time, as: :numeric
      .col-sm-3
        = f.input :max_depth

    .row
      .col-sm-9
        = f.input :comments

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
