= simple_form_for(boat) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-sm-2
        = f.input :code, maxlength: true
      .col-sm-2
        = f.input :capacity, as: :numeric
      .col-sm-8
        = f.input :name

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t(:back), :back, class: 'btn btn-default'
