%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header

      %button.navbar-toggle(type='button' data-toggle='collapse' data-target='#main-nav')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to '/', class: 'navbar-brand' do
        %i.fa.fa-tint.text-info
        SCOOBAR

    #main-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav

        %li{class: navbar_item_state(:customers)}
          = link_to :customers do
            %i.fa.fa-users
            = t '.customers'
        %li{class: navbar_item_state(:events)}
          = link_to :events do
            %i.fa.fa-calendar
            = t '.events'

        %li{class: navbar_item_state(:trips)}
          = link_to :trips do
            %i.fa.fa-compass
            = t '.trips'
